* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: beige;
    padding-left : 20px;
    padding-right: 20px;
}
/*Barre de navigation*/
header{
    position: sticky;
}
header img {
    width: 15%; 
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo {
    width: 150px;
}

nav {
    background-color: #97cd6c;
    padding: 5px; 
    text-decoration: none;
    text-align: center;
    border-radius : 15px;
    display:sticky;
}

nav a {
    color: #212245;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none; 
}

nav ul{
    list-style-type: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    gap: 20px; /* espace entre les éléments de la liste */
}

nav ul li{
    display: flex;
    align-items: center;
}

ul li:nth-child(2){ /* 2ème élément de la liste je le place à droite pour qu'il colle le 3 éléments*/
    justify-content: right;
}

ul li:nth-child(4){ /* 2ème élément de la liste je le place à droite pour qu'il colle le 3 éléments*/
    justify-content: right;
}

nav a:hover {
    color: white;
    transition : 0.7s
}
/*fin de la barre de navigation*/

/*barre de recherche*/
.barre-de-recherche {
    display: flex;
    justify-content: center; 
    margin-top: 50px; 
}

.barre-de-recherche input[type="text"] {
    width: 300px; 
    padding: 10px; 
    border: 2px solid #a4cb6a; 
    background-color: #dceac6;
    border-radius: 10px 0 0 10px; 
    font-size: 16px;
    outline: none; 
}

.barre-de-recherche button {
    padding: 10px 20px;
    border: 2px solid #a4cb6a;
    border-left: none; 
    background-color: #a4cb6a; 
    color: black; 
    font-size: 16px;
    cursor: pointer; 
    border-radius: 0 10px 10px 0; 
    
}


.barre-de-recherche button:hover {
    animation: clignotement 1s infinite;
}
/*fin de la barre de recherche*/

/*les articles*/
.articles {
    display: grid;
    grid-template-columns: 16% 16% 16% 16% 16% 16%;
    grid-template-rows: 2fr;
    gap: 1%;
}
.produit {
    background-color: #dceac6;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.image-produit {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
/*fin des articles*/

@keyframes clignotement {
    0% { background-color: #a4cb6a; }  
    50% { background-color: #74a529; } 
    100% { background-color: #a4cb6a; }
}
  
.container {
    position: relative;
}

#backcolor-identification {
    background: linear-gradient(45deg, #3b8314, beige);
    height: 100vh;
    font-family: arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background: rgba(255, 255, 255, .3);
    padding: 3rem;
    height: 320px;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
    text-align: center;
  }

.titre {
    color: black;
    font-weight: 500;
    opacity: .7;
    font-size: 1.4rem;
    margin-bottom: 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}
    
.titre a {
    text-decoration: none;
    color: #ddd;
    font-size: 12px;
}
  
.titre a:hover {
    text-shadow: 2px 2px 6px #00000040;
}
  
.titre a:active {
    text-shadow: none;
}

input {
    background: transparent;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    padding: 1rem;
    width: 200px;
    border-radius: 50px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, .2);
    color: #74a529;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    transition: all .3s;
    margin-bottom: 2em;
}