* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: beige;
    padding-left : 20px;
    padding-right: 20px;
}

header img {
    width: 15%; 
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.image-produit {
    border-radius : 10%;
    border-color: #a4cb6a;
    border-style : groove;
    border-width : 5px;
    width : 200px;
}

main article {
    display: flex;
}

main article .apropos {
    display : none;
}

main article:hover .apropos {
    display : block;
}

.logo {
    width: 150px;
}

nav {
    background-color: #a4cb6a;
    padding: 5px; 
    text-decoration: none;
    text-align: center;
    border-radius : 15px;
    display:sticky;
}

nav a {
    color: #212245;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none; 
}

nav ul{
    list-style-type: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    gap: 20px; /* espace entre les éléments de la liste */
}

nav ul li{
    display: flex;
    align-items: center;
}

ul li:nth-child(2){ /* 2ème élément de la liste je le place à droite pour qu'il colle le 3 éléments*/
    justify-content: right;
}

ul li:nth-child(4){ /* 2ème élément de la liste je le place à droite pour qu'il colle le 3 éléments*/
    justify-content: right;
}

nav a:hover {
    color: white;
    transition : 0.7s
}

.barre-de-recherche {
    display: flex;
    justify-content: center; 
    margin-top: 50px; 
}

.barre-de-recherche input[type="text"] {
    width: 300px; 
    padding: 10px; 
    border: 2px solid #a4cb6a; 
    background-color: #dceac6;
    border-radius: 10px 0 0 10px; 
    font-size: 16px;
    outline: none; 
}

.barre-de-recherche button {
    padding: 10px 20px;
    border: 2px solid #a4cb6a;
    border-left: none; 
    background-color: #a4cb6a; 
    color: black; 
    font-size: 16px;
    cursor: pointer; 
    border-radius: 0 10px 10px 0; 
    
}


.barre-de-recherche button:hover {
    animation: clignotement 1s infinite;
}

@keyframes clignotement {
    0% { background-color: #a4cb6a; }  
    50% { background-color: #74a529; } 
    100% { background-color: #a4cb6a; }
}

